h1 {
 color: blue;
background-color: #73EC99;
}

p {
  color: #ff5733;
  background-color: #33CEFF;
}
h2 {
  color:blue;
  background-color: #FFC17C;
  }
  h3 {
    color:blue;
    background-color: #FFC17C;
    }
  h4 {
      color:blue;
      background-color: #FFC17C;
      }
  h5 {
      color:blue;
      background-color: #FFC17C;
      }

      a { color: #FF0000;
text-decoration: :none


      
